/* Global styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container styles */
.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* New CSS class for the image container */
.image-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Header styles */
.home-header {
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.home-subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #666;
}

/* Main content styles */
.home-content {
  flex-grow: 1;
  max-width: 800px;
  margin-right: 20px;
}

.home-text {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Highlights styles */
.home-highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.home-highlight {
  flex: 1;
  margin: 10px;
  text-align: center;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
  color: #333;
  transition: transform 0.3s, background 0.3s;
}

.home-highlight:hover {
  transform: translateY(-5px);
  background: #e5e5e5;
}

.home-highlight span {
  margin-left: 10px;
  font-weight: bold;
}

/* Description container styles */
.description-container {
  font-size: 1.1rem;
  text-align: left;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Accessibility: Ensure sufficient color contrast */
.home-highlight,
.description-container {
  color: #333;
}

/* Styles for different screen sizes */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .image-container {
    margin: 20px 0;
  }

  .home-content {
    max-width: 100%;
  }

  .profile-image {
    margin-bottom: 10px;
  }

  .home-highlight {
    margin: 10px 0;
  }
}
