/* projects container styling */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

  /* Adjusted: Remove media query for smaller screens */
  .project-item {
    width: calc(50% - 20px); /* Adjusted width calculation */
    margin: 10px;

    @media (min-width: 768px) {
      width: calc(50% - 20px);
    }

    @media (min-width: 1024px) {
      width: calc(33.33% - 20px);
    }
  }
}

/* project item styling */
.project-item {
  /* Adjusted: Removed width calculation */
  margin: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  @media (min-width: 768px) {
    margin: 20px; /* Increased margin for larger screens */
  }
}

/* card body styling */
.card-body {
  background-color: #a2b0d4;
  color: #333;
  padding: 12px;
  border-radius: 8px;
}

/* card title styling */
.card-title {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

/* card text styling */
.card-text {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

/* button styling */
.btn-primary,
.btn-secondary {
  padding: 6px 10px;
  border-radius: 4px;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-buttons .btn {
  margin-left: 5px;
  margin-right: 5px;
}

/* Add hover effects for buttons */
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Add transition for a smooth hover effect */
.btn {
  transition: opacity 0.3s ease-in-out;
}
